<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208563810999-2c6ovv2fr4qtes4sevk0tg6l4n0j88rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208563810999-2c6ovv2fr4qtes4sevk0tg6l4n0j88rf</string>
	<key>API_KEY</key>
	<string>AIzaSyBOR8NwkjBqqEzZ7yW12xAZ2kCgRLGXAXI</string>
	<key>GCM_SENDER_ID</key>
	<string>208563810999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rescueAnimal</string>
	<key>PROJECT_ID</key>
	<string>animal-7eebd</string>
	<key>STORAGE_BUCKET</key>
	<string>animal-7eebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208563810999:ios:e43bfb5dc1ececfc871332</string>
</dict>
</plist>